<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- Ruta del Plugins en el MOD EuroTruckSimulator2 -->
    <add key="RutaPlugins_ETS2_x64" value="bin\win_x64\plugins" />
    <add key="RutaPlugins_ETS2_x86" value="bin\win_x86\plugins" />
    <!-- visualizar aspectos personalizados del .json, setearlo en true -->
    <add key="MIT_NetRacerPruebaTelemetria" value="false" />
    <!--Intervalo de actualización de datos desde el plugins MIT (Default 1000ms) -->
    <add key="MIT-Server_Intervalo_de_Actualización_Plugins" value="1000"/>
    <!--Intervalo de actualización del Reporte MIT(Default 3000ms) -->
    <add key ="MIT-Server_Intervalo_de_Actualización_Reporte" value="3000"/>
    <!-- Telemetría HTTP MainInterfaceTelemetry_Server en broadcasting URL (vacio si no se va usar) -->
    <!-- Esta URL debe aceptar solicitudes POST que contengan el cuerpo JSON. -->
    <add key="BroadcastUrl" value="" />
    <!-- HTTP broadcasting rate -->
    <!-- Define el número de segundos que debe esperar antes de enviar el siguiente objeto JSON de Telemetría (1 mínimo, 86400 máximo). -->
    <add key="BroadcastRate" value="10" />
    <!-- HTTP broadcasting user ID and password (para poder identificar usuarios en el servidor) -->
    <!-- Estos valores se enviarán en el encabezado HTTP: X-UserId y X-UserPassword como valores de cadena UTF-8 codificados en Base64. -->
    <add key="BroadcastUserId" value="User" />
    <add key="BroadcastUserPass" value="Password" />
    <!-- Puerto de enlace WebApi (¡se recomienda no cambiarlo!) -->
    <!-- (Si cambias este puerto, asegurate de cambiarlo también dentro de config.js) -->
    <add key="ApiPort" value="26000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="MIT_NetRacer-ETS2.log" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-4thread] [%-5level] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>